<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        malesuada, velit ut dapibus ullamcorper, dolor est laoreet mi, at
        fermentum velit urna eget massa. Fusce cursus pretium ipsum quis
        fermentum. Cras eu ultricies nunc, vitae ultrices velit. Integer
        gravida, sem ut feugiat condimentum, tellus justo consequat turpis, in
        fringilla arcu nibh nec magna. Nam nec consectetur massa, at mollis
        justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
        posuere cubilia curae; Proin id lorem non tellus dapibus feugiat sit
        amet a magna. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Suspendisse potenti. Suspendisse
        potenti.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        malesuada, velit ut dapibus ullamcorper, dolor est laoreet mi, at
        fermentum velit urna eget massa. Fusce cursus pretium ipsum quis
        fermentum. Cras eu ultricies nunc, vitae ultrices velit. Integer
        gravida, sem ut feugiat condimentum, tellus justo consequat turpis, in
        fringilla arcu nibh nec magna. Nam nec consectetur massa, at mollis
        justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
        posuere cubilia curae; Proin id lorem non tellus dapibus feugiat sit
        amet a magna. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Suspendisse potenti. Suspendisse
        potenti.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
        malesuada, velit ut dapibus ullamcorper, dolor est laoreet mi, at
        fermentum velit urna eget massa. Fusce cursus pretium ipsum quis
        fermentum. Cras eu ultricies nunc, vitae ultrices velit. Integer
        gravida, sem ut feugiat condimentum, tellus justo consequat turpis, in
        fringilla arcu nibh nec magna. Nam nec consectetur massa, at mollis
        justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
        posuere cubilia curae; Proin id lorem non tellus dapibus feugiat sit
        amet a magna. Class aptent taciti sociosqu ad litora torquent per
        conubia nostra, per inceptos himenaeos. Suspendisse potenti. Suspendisse
        potenti.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
